VITE_HALALIQ_ANALYZE_URL=https://bwelgjbnzhlxwymakbtp.supabase.co/functions/v1/analyze-food
VITE_HALALIQ_EXTRACT_URL=https://bwelgjbnzhlxwymakbtp.supabase.co/functions/v1/extract-ingredients-from-image
VITE_SUPABASE_ANON_KEY=
